<div class="tabWrapper">
  <ion-item>
    <ion-label>Organization:</ion-label>
    <ion-select placeholder="Select org." okText="Ok" cancelText="Cancel" [(ngModel)]="selectedValue" (ionChange)="SelectOrganization(selectedValue)">
      <ion-select-option *ngFor="let organization of userOrganizations" [value]="organization">{{organization.name}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="scheduledResource.resourceName" name="resourceName" placeholder="Enter resource name..."></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="scheduledResource.reservationReason" name="reservationReason" placeholder="Enter reservation reason..."></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Start:</ion-label>
    <ion-datetime displayFormat="MM DD YY hh:mm" placeholder="Select date and time"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>End:</ion-label>
    <ion-datetime displayFormat="MM DD YY hh:mm" placeholder="Select date and time"></ion-datetime>
  </ion-item>

  <ion-button id="scheduleButton" (click)="ScheduleResource()">Schedule</ion-button>

  <div id="TODO">
    TODO:<br>
    - De luat doar organizatiile in care e owner sau are drept de write.<br>
    - De luat datele din input-uri.<br>
    - De inserat in database doar daca nu e deja folosita resourceName in intervalul dorit.<br>
  </div>
</div>