<div class="tabWrapper">
  <ion-item>
    <ion-label>Organization:</ion-label>
    <ion-select placeholder="Select org." okText="Ok" cancelText="Cancel" [(ngModel)]="selectedValue" (ionChange)="SelectOrganization(selectedValue)">
      <ion-select-option *ngFor="let organization of userOrganizations" [value]="organization">{{organization.name}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="scheduledResource.resourceName" name="resourceName" placeholder="Enter resource name..."></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="scheduledResource.reservationReason" name="reservationReason" placeholder="Enter reservation reason..."></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Start:</ion-label>
    <ion-datetime [(ngModel)]="startDatetime" displayFormat="MMM DD, YYYY HH:mm" placeholder="Select date and time"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>End:</ion-label>
    <ion-datetime [(ngModel)]="endDatetime" displayFormat="MMM DD, YYYY HH:mm" placeholder="Select date and time"></ion-datetime>
  </ion-item>

  <ion-button id="scheduleButton" (click)="ScheduleResource()">Schedule</ion-button>
</div>