<div class="tabWrapper">
  <ion-item>
    <ion-input [(ngModel)]="newOrganizationName" name="organization" placeholder="Enter new organization name..."></ion-input>
    <ion-icon class="pointer" color="primary" (click)="CreateOrganization()" name="bag-add-outline"></ion-icon>
  </ion-item>
  <h3>Owned organizations</h3>
  <ion-list>
    <ion-item [hidden]="organization.ownerEmail !== dbService.userEmail" *ngFor="let organization of userOrganizations">
      <ion-icon class="organizationIcon" name="briefcase-outline"></ion-icon>
      <ion-label class="pointer" (click)="OpenOrganizationModal(organization.key, true)">{{organization.name}}</ion-label>
      <ion-icon class="pointer" (click)="DeleteOrganization(organization.key)" color="primary" name="trash-outline"></ion-icon>
    </ion-item>
  </ion-list>
  <h3>Member organizations</h3>
  <ion-list>
    <ion-item [hidden]="organization.ownerEmail === dbService.userEmail" *ngFor="let organization of userOrganizations">
      <ion-icon class="organizationIcon" name="briefcase-outline"></ion-icon>
      <ion-label class="pointer" (click)="OpenOrganizationModal(organization.key, false)">{{organization.name}}</ion-label>
      <ion-icon class="pointer" color="primary" (click)="LeaveOrganization(organization.key)" name="log-out-outline"></ion-icon>
    </ion-item>
  </ion-list>
</div>